In [4]:
import pandas as pd
import numpy as np
from scipy import stats
import pyreadstat

In [5]:
#%pip install pyreadstat

In [ ]:
# .sav 파일 로드 (Pyreadstat를 사용하여 .sav 파일 불러오기)
df_sav, meta = pyreadstat.read_sav("한국행정연구원_공직생활실태조사_데이터_2023.SAV")

In [7]:
# 변수 생성 (설문 항목 평균 계산)
df_sav['transformational_leadership'] = df_sav[['q20_3', 'q20_4', 'q20_5', 'q20_6']].mean(axis=1)
df_sav['transactional_leadership'] = df_sav[['q20_1', 'q20_2']].mean(axis=1)
df_sav['goal_clarity'] = df_sav[['q19_1', 'q19_2', 'q19_3', 'q19_4']].mean(axis=1)
df_sav['role_ambiguity'] = df_sav[['q31_4', 'q31_5', 'q31_6']].mean(axis=1)
df_sav['organizational_performance'] = df_sav[['q25_1', 'q25_2']].mean(axis=1)

In [8]:
df_sav

          ID  ...  organizational_performance
0        1.0  ...                         4.0
1        2.0  ...                         4.0
2        3.0  ...                         3.5
3        4.0  ...                         4.5
4        5.0  ...                         3.0
...      ...  ...                         ...
6439  6454.0  ...                         4.0
6440  6455.0  ...                         3.5
6441  6456.0  ...                         3.5
6442  6457.0  ...                         4.0
6443  6458.0  ...                         4.0

[6444 rows x 196 columns]

In [9]:
# 상관 분석에 사용할 데이터 추출 (통제변수 포함)
df_selected = df_sav[['transformational_leadership', 'transactional_leadership', 'goal_clarity', 'role_ambiguity', 
                      'organizational_performance', 'DM2', 'DM3', 'dq3', 'DM4', 'DM5', 'DM7', 'DM6', 'DM1']]

In [ ]:
# 상관 계수 계산
correlation_matrix = df_selected.corr()

In [10]:
# p-value 계산 함수

def calculate_p_values(correlation_matrix, n):
    p_values = pd.DataFrame(np.ones(correlation_matrix.shape), columns=correlation_matrix.columns, index=correlation_matrix.index)
    for i in range(correlation_matrix.shape[0]):
        for j in range(i + 1, correlation_matrix.shape[1]): # 상삼각 행렬만 계산
            corr = correlation_matrix.iloc[i, j]
            t_stat = corr * np.sqrt((n - 2) / (1 - corr**2)) # t-통계량 계산
            p_value = 2 * (1 - stats.t.cdf(abs(t_stat), df=n - 2)) # p-value 계산
            p_values.iloc[i, j] = p_values.iloc[j, i] = p_value
    return p_values


# p-value 계산

n = len(df_sav)
p_values = calculate_p_values(correlation_matrix, n)


# 유의수준에 따른 별표 추가

def apply_significance_levels(correlation_matrix, p_values):
    significance_matrix = correlation_matrix.copy()
    for i in range(correlation_matrix.shape[0]):
        for j in range(i + 1, correlation_matrix.shape[1]):
            p_value = p_values.iloc[i, j]
            if p_value < 0.001:
                significance_matrix.iloc[i, j] = f"{correlation_matrix.iloc[i, j]:.2f} ***"
            elif p_value < 0.01:
                significance_matrix.iloc[i, j] = f"{correlation_matrix.iloc[i, j]:.2f} **"
            elif p_value < 0.05:
                significance_matrix.iloc[i, j] = f"{correlation_matrix.iloc[i, j]:.2f} *"
            else:
                significance_matrix.iloc[i, j] = f"{correlation_matrix.iloc[i, j]:.2f}"
    return significance_matrix


# 유의수준을 적용한 상관 행렬
final_significance_matrix = apply_significance_levels(correlation_matrix, p_values)

<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.85 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.55 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.38 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.52 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.07 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.05 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.04 **' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.08 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.04 ***' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.04 **' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
<positron-console-cell-10>:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.

In [13]:
final_significance_matrix

                             transformational_leadership  ...        DM1
transformational_leadership                     1.000000  ...      -0.02
transactional_leadership                        0.852289  ...    -0.03 *
goal_clarity                                    0.545583  ...   -0.03 **
role_ambiguity                                 -0.381259  ...   0.05 ***
organizational_performance                      0.518545  ...      -0.00
DM2                                            -0.071976  ...   0.10 ***
DM3                                             0.054264  ...  -0.08 ***
dq3                                            -0.040776  ...   0.07 ***
DM4                                            -0.018689  ...  -0.20 ***
DM5                                             0.079580  ...  -0.07 ***
DM7                                            -0.044063  ...   0.47 ***
DM6                                             0.036628  ...  -0.19 ***
DM1                                            -0.023799  ...        1.0

[13 rows x 13 columns]

In [14]:
final_significance_matrix.iloc[:5,:5]

                             transformational_leadership  ... organizational_performance
transformational_leadership                     1.000000  ...                   0.52 ***
transactional_leadership                        0.852289  ...                   0.48 ***
goal_clarity                                    0.545583  ...                   0.62 ***
role_ambiguity                                 -0.381259  ...                  -0.35 ***
organizational_performance                      0.518545  ...                        1.0

[5 rows x 5 columns]